{
 "external_uri": "{{headers.external_uri}}",
 "service": "{{headers.service}}",
 "event": {  "event_id": "0",
             "type":  "succeeded",
             "action": "stage",
             "timestamp": "2017-09-12 09:42:34 -0400",
             "vendor": "HTTP\/1.1 200 OK\r\nContent-Length: 65666\r\nAccept-Ranges: bytes\r\nLast-Modified: Wed, 06 Sep 2017 17:28:17 GMT\r\nETag: \"4c6821efed9e82dc110e993ceee274be\"\r\nx-amz-request-id: tx00000000000000002c006-0059b83ecd-5e81-default\r\nContent-Type: binary\/octet-stream\r\nDate: Tue, 12 Sep 2017 20:08:45 GMT"
  }
}

